/* --------------------------------------------------
     extends_style.css ver1.1.1 2013.08.23
-------------------------------------------------- */
img{
	max-width: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
li{
	list-style: none;
}
.SF-hidden {
    display:none;
}
.SF-clearfix:after {content: ".";display: block;clear: both;height: 0;visibility:hidden;}
.SF-clearfix {display: inline-block;}
.SF-clearfix {display: block;}

#SF-homeheader-fixed {
	margin: 0 -15px;
	margin-top: -15px;
}

#SF-homeheader-fixed > p{
	margin: 0 15px;
	margin-top: 15px;
}

/* TabView */
/* horizontal tabs */
.ui-collapsible-set-horizontal .ui-collapsible-themed-content:not(.ui-collapsible-collapsed)  {
  -webkit-border-bottom-left-radius: inherit; 
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;  
  border-bottom-right-radius: inherit;
}
.ui-collapsible-set-horizontal.ui-all-collapsed  .ui-collapsible.ui-first-child {
  -webkit-border-bottom-left-radius: inherit; 
  border-bottom-left-radius: inherit;
}
.ui-collapsible-set-horizontal.ui-all-collapsed  .ui-collapsible.ui-last-child {
  -webkit-border-bottom-right-radius: inherit;  
  border-bottom-right-radius: inherit;
}
.ui-collapsible-set-horizontal .ui-collapsible.ui-first-child {
  -webkit-border-top-left-radius: inherit;  
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: 0; 
  border-top-right-radius: 0;
}
.ui-collapsible-set-horizontal  .ui-collapsible.ui-last-child {
  -webkit-border-top-right-radius: inherit; 
  border-top-right-radius: inherit;
  -webkit-border-bottom-left-radius: 0; 
  border-bottom-left-radius: 0; 
  -webkit-border-bottom-right-radius: 0;  
  border-bottom-right-radius: 0;
}
.ui-collapsible-set .ui-collapsible.ui-last-child  .ui-collapsible-content {
  -webkit-border-bottom-left-radius: .6em;  
  border-bottom-left-radius: .6em;
  -webkit-border-bottom-right-radius: .6em; 
  border-bottom-right-radius: .6em;
}
.ui-collapsible-set-horizontal .ui-collapsible-content > * { padding: 15px; }
.ui-collapsible-set-horizontal .ui-collapsible-content .ui-listview { margin-top: 0 !important;}
.ui-collapsible-set-horizontal { margin: 0;}
.ui-collapsible-set-horizontal.ui-collapsible-set-inset { margin: .5em -15px;  }
.ui-collapsible-set-horizontal.ui-collapsible-set-inset.ui-corner-all { margin: 0px;}
.ui-collapsible-no-inset { margin-left: 0px; margin-right: 0px;}
.ui-collapsible-set-horizontal .ui-collapsible h3 .ui-btn { border-bottom-width: 1px; } 
.ui-collapsible-set-horizontal .ui-collapsible h3 .ui-btn .ui-btn-text { white-space: normal; }
.ui-collapsible-set-horizontal .ui-collapsible { margin-top: 0;}
.ui-collapsible-set-horizontal.ui-collapsible-inset { margin: 0 15px;  }
.ui-collapsible-set-horizontal .ui-collapsible .ui-collapsible-heading .ui-btn { border-left-width: 1px;: 1px;}
.ui-collapsible-set-horizontal .ui-collapsible.ui-last-child .ui-collapsible-heading .ui-btn { border-right-width: 1px;}
.ui-collapsible-set-horizontal .ui-collapsible-heading .ui-btn-inner { padding-left: 20px;} 
.ui-collapsible-set-horizontal .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner { padding-left: 40px;} 
.ui-collapsible-set-horizontal .ui-collapsible-heading { width: 100%; margin: 0; }
.ui-collapsible-set-horizontal .ui-collapsible-content { position: relative; margin: 0; padding: 0; } 
.ui-collapsible-set-horizontal .ui-collapsible-content { margin-top: -15px; }
.ui-collapsible-set-horizontal.ui-grid-a .ui-block-a .ui-collapsible-content { width: 199.7%; } 
.ui-collapsible-set-horizontal.ui-grid-a .ui-block-b .ui-collapsible-content { left: -99.9%; width: 199.7%;}
.ui-collapsible-set-horizontal.ui-grid-b .ui-block-a .ui-collapsible-content { width: 299.5%; }
.ui-collapsible-set-horizontal.ui-grid-b .ui-block-b .ui-collapsible-content { width: 299.5%; left: -100%; }
.ui-collapsible-set-horizontal.ui-grid-b .ui-block-c .ui-collapsible-content { width: 299.5%; left: -200%; }
.ui-collapsible-set-horizontal.ui-grid-c .ui-block-a .ui-collapsible-content { width: 399.5%; }
.ui-collapsible-set-horizontal.ui-grid-c .ui-block-b .ui-collapsible-content { width: 399.5%; left: -100%; }
.ui-collapsible-set-horizontal.ui-grid-c .ui-block-c .ui-collapsible-content { width: 399.5%; left: -200%; }
.ui-collapsible-set-horizontal.ui-grid-c .ui-block-d .ui-collapsible-content { width: 399.5%; left: -300%; }
.ui-collapsible-set-horizontal.ui-grid-d .ui-block-a .ui-collapsible-content { width: 499.5%; }
.ui-collapsible-set-horizontal.ui-grid-d .ui-block-b .ui-collapsible-content { width: 499.5%; left: -100%; }
.ui-collapsible-set-horizontal.ui-grid-d .ui-block-c .ui-collapsible-content { width: 499.5%; left: -200%; }
.ui-collapsible-set-horizontal.ui-grid-d .ui-block-d .ui-collapsible-content { width: 499.5%; left: -300%; }
.ui-collapsible-set-horizontal.ui-grid-d .ui-block-e .ui-collapsible-content { width: 499.5%; left: -400%; }
.ui-collapsible-set-horizontal .ui-collapsible .ui-btn-active { border-bottom-width: 0; }
.ui-collapsible-set-horizontal .ui-collapsible-collapsed .ui-btn { border-bottom-width: 1px; }
.ui-collapsible-set-horizontal .ui-collapsible .ui-collapsible-content { border-top-width: 0;  }
.ui-collapsible-set-horizontal .ui-collapsible-heading-status { position: absolute !important; left: -9999px; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px);  }

/* Switch Link */
#SF-switch-link {
	-webkit-border-radius: 8px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 12px !important;
	margin-bottom: 20px !important;
	text-align: center !important;
}
#SF-switch-link .SF-switch-active {
	font: bold "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left:5px !important;
}

#SF-switch-link .SF-switch-split{
	margin-left:5px !important;
	margin-right:5px !important;
}

/* Custom Icons */
.ui-icon-phone { background-image: url('images/icons-18-white-custom.png') !important; background-position: 0 0 !important; }
.ui-icon-location { background-image: url('images/icons-18-white-custom.png') !important; background-position: -36px 0px !important; }
.ui-icon-mail { background-image: url('images/icons-18-white-custom.png') !important; background-position: -72px 0px !important; }
.ui-icon-alt .ui-icon-phone { background-image: url('images/icons-18-black-custom.png') !important; background-position: 0 0 !important; }
.ui-icon-alt .ui-icon-location { background-image: url('images/icons-18-black-custom.png') !important; background-position: -36px 0px !important; }
.ui-icon-alt .ui-icon-mail { background-image: url('images/icons-18-black-custom.png') !important; background-position: -72px 0px !important; }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-phone, .ui-icon-location, .ui-icon-mail {
		background-image: url('images/icons-36-white-custom.png') !important;
		-moz-background-size: 90px 18px !important;
		-o-background-size: 90px 18px !important;
		-webkit-background-size: 90px 18px !important;
		background-size: 90px 18px !important;
		background-size: 90px 18px !important;
	}
	.ui-icon-alt .ui-icon-phone, 
	.ui-icon-alt .ui-icon-location,
	.ui-icon-alt .ui-icon-mail {
		background-image: url('images/icons-36-black-custom.png') !important;
		-moz-background-size: 90px 18px !important;
		-o-background-size: 90px 18px !important;
		-webkit-background-size: 90px 18px !important;
		background-size: 90px 18px !important;
		background-size: 90px 18px !important;
	}
}
/* Extends style */
h1 {
	font-size: 26px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

.forPC {
 display: none;
}



.newslistHeadlineStyle {
    font-size: 16px;
    text-align: center;
}

#B000000010 div[data-role="none"] .newslistHeadlineStyle,
#B000000033 div[data-role="none"] .newslistHeadlineStyle {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 10px 0;
}

.headlineStyle {
    font-size: 16px;
    text-align: center;
}

.SF-trheader,#SF-homeheader {
  display: none;
}

p.contentTextStyle {
  font-size: 14px;
}

.ui-body-a, .ui-overlay-a {
  font-size: 14px;
}

.ui-btn-inner {
  font-size: 14px;
}

#SF-homeheader p {
    display: none;
}

/* ナビゲーション仕切り設定 */
#SF-grovalnaviPage .ui-li-divider {
    display: none;
}

/* イメージ画像マージン調整 */
#B000000191,#B000000193,#B000000194,#B000000195,#B000000196,#B000000197,#B000000198,#B000000199,#B000000266,#B000000275 {
  margin: -15px -15px 0;
}

#B000000189 {
  margin: -30px -15px 0;
}


/* フッター */
.ui-footer-fixed {
    background: #222222 !important;
    color: #ffffff !important;
    text-shadow: none !important;
}


/* フォント関係 */
.price {
  font-size: 1.4em;
  color: #b20000;
}

.number {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.7em;
  font-style: italic;
  color: #cccccc;
  padding-right: 20px;
}



#B000000024 ul li.SF-simpleImg img {
    width: 50%;
    float: left;
}


#SF-homeheader {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.c_box {
    height: auto;
    padding: 20px;
    position: relative;
    font-family: 'Noto Sans Japanese', sans-serif;
}

#B000000010 div.SF-block-normal[data-role="none"],#B000000033 div.SF-block-normal[data-role="none"],
#B000000054 div.SF-block-normal[data-role="none"],#B000000071 div.SF-block-normal[data-role="none"],
#B000000124 div.SF-block-normal[data-role="none"],#B000000141 div.SF-block-normal[data-role="none"],
#B000000148 div.SF-block-normal[data-role="none"],#B000000158 div.SF-block-normal[data-role="none"],
#B000000397 div.SF-block-normal[data-role="none"] {
    padding: 0px;
    border: none;
}


#B000000054 div.SF-block-normal[data-role="none"] img,#B000000071 div.SF-block-normal[data-role="none"] img,
#B000000124 div.SF-block-normal[data-role="none"] img,#B000000141 div.SF-block-normal[data-role="none"] img,
#B000000148 div.SF-block-normal[data-role="none"] img,#B000000158 div.SF-block-normal[data-role="none"] img,
#B000000397 div.SF-block-normal[data-role="none"] img {
    width: 100%;
    height: 0px;
}


.c_box2 {
   height: 30px;
   padding: 10px;
   position: relative;
   font-family: 'Noto Sans Japanese', sans-serif;
}


/* 見出しの左右に線 */
.kome_line {
  position: relative;
  text-align: center;
}

.kome_line:before, .kome_line:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30%;
  height: 1px;
  background-color: #BC9C52;
}

.kome_line:before {
  left:0;
}
.kome_line:after {
  right: 0;
}



/* テーブル関係 */
.t_l {
   width: 40%;
   padding: 10px 0;
   border-bottom: 1px dotted #cccccc;
}

.t_r {
   width: 60%;
   padding: 10px 0;
   border-bottom: 1px dotted #cccccc;
}

.t_r_tel {
   width: 60%;
   padding: 10px 0;
   color: #ffffff;
   border-bottom: 1px dotted #cccccc;
}

.t_r a {
    text-decoration:none;
 }

.t_r_tel a {
    color:#ffffff !important;
    text-decoration:none;
 }

#B000000031.SF-block-normal[data-role="none"] .t_l,
#B000000031.SF-block-normal[data-role="none"] .t_r {
   color: #ffffff;
}


.t_l2 {
   width: 50%;
   padding-right: 10px;
   text-align: right;
   color: #ffffff;
   font-size: 2.2em;
}

.t_r2 {
   width: 50%;
   padding-left: 10px;
   color: #ffffff;
   font-size: 2.2em;
}


.course_l {
   width: 50%;
   padding: 5px;
}

.course_c {
   width: 25%;
   padding: 5px;
}

.course_r {
   width: 25%;
   text-align: right;
   padding: 5px;
}



/* 見出し背景 */
.box {
    display: block;
    padding: 10px;
    margin-right: 10px;
    background: #BC9C52;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
}

.box2 {
    border-radius: 50px;
    padding: 2px 10px;
    background: #BC9C52;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
}


/* Q&Aテーブル */
.q_l {
   width: 20%;
   padding: 5px;
   font-size: 2.5em;
   font-family: 'Noto Serif Japanese', serif;
   font-style: italic;
   border-bottom: 1px dotted #cccccc;
   vertical-align: top;
}

.q_r {
   width: 80%;
   padding: 10px;
   border-bottom: 1px dotted #cccccc;
   vertical-align: top;
}


.box_c {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    background: #BC9C52;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
}


.trial {
   border: 0;
   width: 100%;
   border-spacing: 0;
}



/* ボタン関係 */
.button-rink, .button-rink:visited {
    width: 100%;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 0;
    border: 2px solid #BC9C52;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
a.button-rink {
    text-decoration: none;
}
.button-rink a:link{
    color:#ffffff;
    text-decoration: none;
}
.button-rink:hover{
    background:#705A2C;
    text-decoration: none;
    color:#ffffff;
}


.button-rink2, .button-rink2:visited {
    width: 100%;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 0;
    border: 2px solid #ffffff;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
a.button-rink2 {
    text-decoration: none;
}
.button-rink2 a:link{
    color:#ffffff;
    text-decoration: none;
}
.button-rink2:hover{
    background:#333333;
    text-decoration: none;
    color:#ffffff;
}



#B000000054 div[data-role="none"] .newslistHeadlineStyle,#B000000071 div[data-role="none"] .newslistHeadlineStyle,
#B000000124 div[data-role="none"] .newslistHeadlineStyle,#B000000141 div[data-role="none"] .newslistHeadlineStyle,
#B000000148 div[data-role="none"] .newslistHeadlineStyle,#B000000158 div[data-role="none"] .newslistHeadlineStyle,
#B000000397 div[data-role="none"] .newslistHeadlineStyle {
    font-weight: normal;
    padding-top: 10px;
}

#B000000054 div.SF-block-normal[data-role="none"],#B000000071 div.SF-block-normal[data-role="none"],
#B000000124 div.SF-block-normal[data-role="none"],#B000000141 div.SF-block-normal[data-role="none"],
#B000000148 div.SF-block-normal[data-role="none"],#B000000158 div.SF-block-normal[data-role="none"],
#B000000397 div.SF-block-normal[data-role="none"]{
    position: relative;
}
#B000000054 div.SF-block-normal[data-role="none"] a,#B000000071 div.SF-block-normal[data-role="none"] a,
#B000000124 div.SF-block-normal[data-role="none"] a,#B000000141 div.SF-block-normal[data-role="none"] a,
#B000000148 div.SF-block-normal[data-role="none"] a,#B000000158 div.SF-block-normal[data-role="none"] a,
#B000000397 div.SF-block-normal[data-role="none"] a{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    cursor: pointer;
    text-indent: 100%; /*テキスト非表示*/
    white-space: nowrap; /*テキスト非表示*/
    overflow: hidden; /*テキスト非表示*/
  }
#B000000054 div.SF-block-normal[data-role="none"] a:hover,#B000000071 div.SF-block-normal[data-role="none"] a:hover,
#B000000124 div.SF-block-normal[data-role="none"] a:hover,#B000000141 div.SF-block-normal[data-role="none"] a:hover,
#B000000148 div.SF-block-normal[data-role="none"] a:hover,#B000000158 div.SF-block-normal[data-role="none"] a:hover,
#B000000397 div.SF-block-normal[data-role="none"] a:hover{
    opacity:0.6;
    transition: 0.5s;
    filter: alpha(opacity=60);
    -ms-filter: "alpha( opacity=60 )";
    background: #ffffff;
}



#B000000172 ul li.SF-simpleImg img {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

#B000000172 ul li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
}



/* 表示切替スイッチ */
#SF-switch-link .icon {
    text-indent: -9999px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#SF-switch-link .sp {
    background-image: url(../../../assets/icon_dark_smartphone.png);
    /* background-image: url(../assets/icon_light_smartphone.png); */
}
#SF-switch-link .pc {
    background-image: url(../../../assets/icon_dark_pcdisplay.png);
    /* background-image: url(../assets/icon_light_pcdisplay.png); */
}


.sp_left {
  text-align: left;
}


#B000000200.SF-block-normal,
#B000000229.SF-block-normal {
    font-size: 1.4em;
    font-weight: bold;
    color: #000000;
}

/* 線 */
hr.line {
    margin: 20px 0;
    border: 1px none #cccccc ;
    border-top: 1px dashed #70592C ;
}


#B000000260 div[data-role="none"] p.contentTextStyle {
    text-align: center;
}

/*!
* jQuery Mobile 1.3.2
* Git HEAD hash: 528cf0e96940644ea644096bfeb913ed920ffaef <> Date: Fri Jul 19 2013 22:17:57 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2013 jQuery Foundation, Inc. and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/

.ui-bar-a{border:1px solid #D9C79D ;background:#D9C79D ;color:#70592C ;font-weight:bold;text-shadow:0  1px  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #d9c79d ),to( #d9c79d )); background-image:-webkit-linear-gradient( #d9c79d,#d9c79d ); background-image:   -moz-linear-gradient( #d9c79d,#d9c79d ); background-image:    -ms-linear-gradient( #d9c79d,#d9c79d ); background-image:     -o-linear-gradient( #d9c79d,#d9c79d ); background-image:        linear-gradient( #d9c79d,#d9c79d );}.ui-bar-a .ui-link-inherit{color:#70592C ;}.ui-bar-a a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-a a.ui-link:visited{   color:#2489ce ;}.ui-bar-a a.ui-link:hover{color:#2489ce ;}.ui-bar-a a.ui-link:active{color:#2489ce ;}.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button{   font-family:Helvetica,Arial,sans-serif ;}.ui-body-a,.ui-overlay-a{border:1px solid #D9C79D ;color:#70592C ;text-shadow:0  0  0  #ffffff ;background:#ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #ffffff ),to( #ffffff )); background-image:-webkit-linear-gradient( #ffffff,#ffffff ); background-image:   -moz-linear-gradient( #ffffff,#ffffff ); background-image:    -ms-linear-gradient( #ffffff,#ffffff ); background-image:     -o-linear-gradient( #ffffff,#ffffff ); background-image:        linear-gradient( #ffffff,#ffffff );}.ui-overlay-a{background-image:none;border-width:0;}.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button{   font-family:Helvetica,Arial,sans-serif ;}.ui-body-a .ui-link-inherit{color:#70592C ;}.ui-body-a .ui-link{color:#433518 ;font-weight:bold;}.ui-body-a .ui-link:visited{   color:#433518 ;}.ui-body-a .ui-link:hover{color:#433518 ;}.ui-body-a .ui-link:active{color:#433518 ;}.ui-btn-up-a{border:1px solid #D9C79D ;background:#ffffff ;font-weight:bold;color:#70592C ;text-shadow:0  0  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #ffffff ),to( #ffffff )); background-image:-webkit-linear-gradient( #ffffff,#ffffff ); background-image:   -moz-linear-gradient( #ffffff,#ffffff ); background-image:    -ms-linear-gradient( #ffffff,#ffffff ); background-image:     -o-linear-gradient( #ffffff,#ffffff ); background-image:        linear-gradient( #ffffff,#ffffff );}.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit{color:#70592C ;}.ui-btn-hover-a{border:1px solid #D9C79D ;background:#D9C79D ;font-weight:bold;color:#70592C ;text-shadow:0  0  0  #D9C79D ;background-image:-webkit-gradient(linear,left top,left bottom,from( #d9c79d ),to( #d9c79d )); background-image:-webkit-linear-gradient( #d9c79d,#d9c79d ); background-image:   -moz-linear-gradient( #d9c79d,#d9c79d ); background-image:    -ms-linear-gradient( #d9c79d,#d9c79d ); background-image:     -o-linear-gradient( #d9c79d,#d9c79d ); background-image:        linear-gradient( #d9c79d,#d9c79d );}.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit{color:#70592C ;}.ui-btn-down-a{border:1px solid #70592C ;background:#70592C ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #70592C ;background-image:-webkit-gradient(linear,left top,left bottom,from( #70592c ),to( #70592c )); background-image:-webkit-linear-gradient( #70592c,#70592c ); background-image:   -moz-linear-gradient( #70592c,#70592c ); background-image:    -ms-linear-gradient( #70592c,#70592c ); background-image:     -o-linear-gradient( #70592c,#70592c ); background-image:        linear-gradient( #70592c,#70592c );}.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{   font-family:Helvetica,Arial,sans-serif ;text-decoration:none;}a.ui-link-inherit{text-decoration:none !important;}.ui-btn-active{border:1px solid #D9C79D ;background:#70592C ;font-weight:bold;color:#ffffff ;cursor:pointer;text-shadow:0  1px  0  #70592C ;text-decoration:none;background-image:-webkit-gradient(linear,left top,left bottom,from( #70592c ),to( #70592c )); background-image:-webkit-linear-gradient( #70592c,#70592c ); background-image:   -moz-linear-gradient( #70592c,#70592c ); background-image:    -ms-linear-gradient( #70592c,#70592c ); background-image:     -o-linear-gradient( #70592c,#70592c ); background-image:        linear-gradient( #70592c,#70592c );    font-family:Helvetica,Arial,sans-serif ;}.ui-btn-active:visited,.ui-btn-active:hover,.ui-btn-active a.ui-link-inherit{color:#ffffff ;}.ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3);}.ui-corner-all{-webkit-border-radius:0.4em ;border-radius:0.4em ;}.ui-br{border-color:rgb(130,130,130);border-color:rgba(130,130,130,.3);border-style:solid;}.ui-disabled{filter:Alpha(Opacity=30);opacity:.3;zoom:1;}.ui-disabled,.ui-disabled a{cursor:default !important;pointer-events:none;}.ui-icon,.ui-icon-searchfield:after{background:#70592C ;background:rgba(112,89,44,0.8) ;background-image:url(images/icons-18-white.png) ;background-repeat:no-repeat;-webkit-border-radius:9px;border-radius:9px;}.ui-icon-alt .ui-icon,.ui-icon-alt .ui-icon-searchfield:after{background-color:#fff;background-color:rgba(255,255,255,.3);background-image:url(images/icons-18-black.png);background-repeat:no-repeat;}.ui-icon-nodisc .ui-icon,.ui-icon-nodisc .ui-icon-searchfield:after,.ui-icon-nodisc .ui-icon-alt .ui-icon,.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after{background-color:transparent;}.ui-icon-plus{background-position:-1px -1px;}.ui-icon-minus{background-position:-37px -1px;}.ui-icon-delete{background-position:-73px -1px;}.ui-icon-arrow-r{background-position:-108px -1px;}.ui-icon-arrow-l{background-position:-144px -1px;}.ui-icon-arrow-u{background-position:-180px -1px;}.ui-icon-arrow-d{background-position:-216px -1px;}.ui-icon-check{background-position:-252px -1px;}.ui-icon-gear{background-position:-288px -1px;}.ui-icon-refresh{background-position:-323px -1px;}.ui-icon-forward{background-position:-360px -1px;}.ui-icon-back{background-position:-396px -1px;}.ui-icon-grid{background-position:-432px -1px;}.ui-icon-star{background-position:-467px -1px;}.ui-icon-alert{background-position:-503px -1px;}.ui-icon-info{background-position:-539px -1px;}.ui-icon-home{background-position:-575px -1px;}.ui-icon-search,.ui-icon-searchfield:after{background-position:-611px -1px;}.ui-icon-checkbox-on{background-position:-647px -1px;}.ui-icon-checkbox-off{background-position:-683px -1px;}.ui-icon-radio-on{background-position:-718px -1px;}.ui-icon-radio-off{background-position:-754px -1px;}.ui-icon-bars{background-position:-788px -1px;}.ui-icon-edit{background-position:-824px -1px;}@media only screen and (-webkit-min-device-pixel-ratio:1.3),      only screen and (min--moz-device-pixel-ratio:1.3),      only screen and (min-resolution:200dpi){.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-bars,.ui-icon-edit,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on{background-image:url(images/icons-36-white.png);-moz-background-size:864px 18px;-o-background-size:864px 18px;-webkit-background-size:864px 18px;background-size:864px 18px;}.ui-icon-alt .ui-icon{background-image:url(images/icons-36-black.png);}.ui-icon-plus{background-position:0 50%;}.ui-icon-minus{background-position:-36px 50%;}.ui-icon-delete{background-position:-72px 50%;}.ui-icon-arrow-r{background-position:-108px 50%;}.ui-icon-arrow-l{background-position:-144px 50%;}.ui-icon-arrow-u{background-position:-179px 50%;}.ui-icon-arrow-d{background-position:-215px 50%;}.ui-icon-check{background-position:-252px 50%;}.ui-icon-gear{background-position:-287px 50%;}.ui-icon-refresh{background-position:-323px 50%;}.ui-icon-forward{background-position:-360px 50%;}.ui-icon-back{background-position:-395px 50%;}.ui-icon-grid{background-position:-431px 50%;}.ui-icon-star{background-position:-467px 50%;}.ui-icon-alert{background-position:-503px 50%;}.ui-icon-info{background-position:-538px 50%;}.ui-icon-home{background-position:-575px 50%;}.ui-icon-search,.ui-icon-searchfield:after{background-position:-611px 50%;}.ui-icon-checkbox-on{background-position:-647px 50%;}.ui-icon-checkbox-off{background-position:-683px 50%;}.ui-icon-radio-on{background-position:-718px 50%;}.ui-icon-radio-off{background-position:-754px 50%;}.ui-icon-bars{background-position:-788px 50%;}.ui-icon-edit{background-position:-824px 50%;}}.ui-checkbox .ui-icon,.ui-selectmenu-list .ui-icon{-webkit-border-radius:3px;border-radius:3px;}.ui-icon-checkbox-off,.ui-icon-radio-off{background-color:transparent;}.ui-checkbox-on .ui-icon,.ui-radio-on .ui-icon{background-color:#70592C ; }.ui-icon-loading{background:url(images/ajax-loader.gif);background-size:46px 46px;}.ui-btn-corner-all{-webkit-border-radius:0.4em ;border-radius:0.4em ;}.ui-corner-all,.ui-btn-corner-all{-webkit-background-clip:padding;background-clip:padding-box;}.ui-overlay{background:#666;filter:Alpha(Opacity=50);opacity:.5;position:absolute;width:100%;height:100%;}.ui-overlay-shadow{-moz-box-shadow:0 0 12px rgba(0,0,0,.6);-webkit-box-shadow:0 0 12px rgba(0,0,0,.6);box-shadow:0 0 12px rgba(0,0,0,.6);}.ui-shadow{-moz-box-shadow:0 1px 3px  rgba(0,0,0,.2) ;-webkit-box-shadow:0 1px 3px  rgba(0,0,0,.2) ;box-shadow:0 1px 3px  rgba(0,0,0,.2) }.ui-bar-a .ui-shadow,.ui-bar-b .ui-shadow,.ui-bar-c .ui-shadow {-moz-box-shadow:0 1px 0 rgba(255,255,255,.3);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3);box-shadow:0 1px 0 rgba(255,255,255,.3);}.ui-shadow-inset{-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,.2);-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,.2);box-shadow:inset 0 1px 4px rgba(0,0,0,.2);}.ui-icon-shadow{-moz-box-shadow:0 1px 0 rgba(255,255,255,.4) ;-webkit-box-shadow:0 1px 0 rgba(255,255,255,.4) ;box-shadow:0 1px 0 rgba(255,255,255,.4) ;}.ui-btn:focus,.ui-link-inherit:focus{outline:0;}.ui-btn.ui-focus{z-index:1;}.ui-focus,.ui-btn:focus{-moz-box-shadow:inset 0 0 3px #70592C,0 0 9px #70592C ;-webkit-box-shadow:inset 0 0 3px #70592C,0 0 9px #70592C ;box-shadow:inset 0 0 3px #70592C,0 0 9px #70592C ;}.ui-input-text.ui-focus,.ui-input-search.ui-focus{-moz-box-shadow:0 0 12px #70592C ;-webkit-box-shadow:0 0 12px #70592C ;box-shadow:0 0 12px #70592C ;}.ui-mobile-nosupport-boxshadow *{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;}.ui-mobile-nosupport-boxshadow .ui-focus,.ui-mobile-nosupport-boxshadow .ui-btn:focus,.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus{outline-width:1px;outline-style:auto;}