@charset "utf-8";
/*Template:M010500001 Date:2012-04-23*/

#SF-footer #B000000304 {
	display:block;
	clear:both;
	width:%;
	height:50px;
	margin-top:50px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:50px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	border-top:none;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-color:#cccccc;
	border-width:1px;
	background-color:;
	background-image:url(../../../assets/);
	background-position:left top;
	background-repeat:no-repeat;
	text-align:center;
	color:#ffffff;
	font-size:px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	line-height:inherit;
}