@charset "utf-8";
#SF-row1 .SF-col1 {
    width : 1000px;
    float : left;
    display : inline;
    min-height : 1px;
}
#SF-row2 .SF-col1 {
    width : 480px;
    float : left;
    display : inline;
    min-height : 1px;
    margin-right : 20px;
}
#SF-row2 .SF-col2 {
    width : 500px;
    float : left;
    display : inline;
    min-height : 1px;
}
#SF-row3 .SF-col1 {
    width : 500px;
    float : left;
    display : inline;
    min-height : 1px;
}
#SF-row3 .SF-col2 {
    width : 500px;
    float : left;
    display : inline;
    min-height : 1px;
}
