@charset "utf-8";
/*SP-Template:M010400056 Date:2013-07-19*/

#B000000397 {
margin-top:0px;
margin-bottom:30px;
}

#B000000397 .ui-btn-text {
overflow: visible;
white-space: normal;
}

#B000000397 .ui-collapsible-content {
background-color:;
}

#B000000397 div {
margin-bottom: 0px;
}

#B000000397 div:last-child {
margin-bottom:0px;
}

#B000000397 p.contentTextStyle {
padding:0px;
background-color:;
color:;
text-shadow: 0 0px 0 #ffffff;
line-height:1.7;
}

#B000000397 .newslistHeadlineStyle {
color:#ffffff;
}

#B000000397 div.SF-block-ls[data-role="none"] {
background-color:#705a2c;
padding:15px;
font-size:0.9em;
-moz-border-radius-topright: 0em;
-moz-border-radius-topleft: 0em;
-moz-border-radius-bottomright: 0em;
-moz-border-radius-bottomleft: 0em;
-webkit-border-top-right-radius: 0em;
-webkit-border-top-left-radius: 0em;
-webkit-border-bottom-right-radius: 0em;
-webkit-border-bottom-left-radius: 0em;
border-top-left-radius: 0em;
border-top-right-radius: 0em;
border-bottom-left-radius: 0em;
border-bottom-right-radius: 0em;
-webkit-box-shadow: 0px 1px 4px rgba(119,119,119,0.3);
-moz-box-shadow: 0px 1px 4px rgba(119,119,119,0.3);
box-shadow: 0px 1px 4px rgba(119,119,119,0.3);
border:solid 1px #f3ede2;
}

#B000000397 div.SF-block-ds[data-role="none"] {
background-color:#705a2c;
padding:15px;
font-size:0.9em;
-moz-border-radius-topright: 0em;
-moz-border-radius-topleft: 0em;
-moz-border-radius-bottomright: 0em;
-moz-border-radius-bottomleft: 0em;
-webkit-border-top-right-radius: 0em;
-webkit-border-top-left-radius: 0em;
-webkit-border-bottom-right-radius: 0em;
-webkit-border-bottom-left-radius: 0em;
border-top-left-radius: 0em;
border-top-right-radius: 0em;
border-bottom-left-radius: 0em;
border-bottom-right-radius: 0em;
-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
border:solid 1px #f3ede2;
}

#B000000397 div.SF-block-normal[data-role="none"] {
background-color:#705a2c;
padding:15px;
font-size:0.9em;
-moz-border-radius-topright: 0em;
-moz-border-radius-topleft: 0em;
-moz-border-radius-bottomright: 0em;
-moz-border-radius-bottomleft: 0em;
-webkit-border-top-right-radius: 0em;
-webkit-border-top-left-radius: 0em;
-webkit-border-bottom-right-radius: 0em;
-webkit-border-bottom-left-radius: 0em;
border-top-left-radius: 0em;
border-top-right-radius: 0em;
border-bottom-left-radius: 0em;
border-bottom-right-radius: 0em;
border:solid 1px #f3ede2;
}

#B000000397 div.SF-block-none[data-role="none"] {
}

#B000000397 div[data-role="none"] p.contentTextStyle{
	margin: 0.6em 0;
}
#B000000397 div[data-role="none"] .newslistHeadlineStyle{
color:#ffffff;
	line-height:1.5;
	margin:0.6em 0;
	text-shadow: 0 0px 0 ;
}