@charset "utf-8";
/*Template:M010400004 Date:2013-08-20*/

#B000000310 {
	display:block;
	width:%;
	height:100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:0px;
	padding-right:0px;
	border-top:none;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-color:#cccccc;
	border-width:1px;
	background-color:;
	background-image:url(../../../assets/);
	background-position:left top;
	background-repeat:no-repeat;
	text-align:left;
	color:;
	text-decoration:none;
	font-family:inherit;
	font-size:px;
	font-weight:normal;
	font-style:normal;
	line-height:inherit;
}